@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.top-btn,
.middle-btn,
.bottom-btn {
  @apply border-t-2 border-t-white block transition-all duration-200;
}
.top-btn {
  transform: translateY(10px);
}
.bottom-btn {
  transform: translateY(-10px);
}
.bottom-btn.active {
  transform: rotate(45deg);
}
.top-btn.active {
  transform: rotate(-45deg);
}
.middle-btn.active {
  @apply hidden;
}
.bg {
  flex: 2 1 0%;
}
